* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header,
main,
footer,
nav,
aside,
section {
  display: block;
}


header {
  display: flex;
  flex-direction: column;
  background: #f6f4f4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}

#box-head {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.box-align {
  gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.p-first {
  width: 592px;
  height: 237px;
  top: 234px;
  color: #6D6D6D;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.386px;
}

.myname {
  color: #999;
  font-family: 'Poppins', 'sans-seri';
  font-weight: bold;
  font-size: 70px;
  font-style: normal;
  line-height: normal;
}

ul {
  list-style-type: none;
}


.menu-il{
  float: left;
    display: flex;
    gap: 20px;

}
  



.menu-il li {
  color: #000;
  font-size: 2em;
  font-style: normal;
  font-weight:300;
  letter-spacing: 6.331px;
  font-family: 'Poppins', sans-serif;
}


ul a {
  text-decoration: none;
  color: #000;
}

#line-gray {
  top: 232px;
  left: 700px;
  width: 3px;
  height: 270px;
  background: #D8D8D8;
}

.img1 {
  left: 959px;
  top: 492px;
  width: auto;
  height: 272px;
}

#box-pinkish {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 353px;
  height: 113px;
  flex-shrink: 0;
  background: #FFE8E8;
  border-radius: 16.5px;
}

.class-pink {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.col-p-i {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#box-pinkish h3 {
  margin-top: 40px;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 8.297px;
  text-align: center;
}

.warpper-skill {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

._skill {
  margin-top: 20px;
  margin-left: 50px;
  color: #999;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* skill bar */
span {
  color: #6D6D6D;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0.643px;
}

.skill-bars {
  width: 50vw;
}


.skill-bars .bar {
  margin: 20px 0;
  padding: 0 0 20px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  font-size: 1.3em;
  color: #6b6b6b;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 20px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 2px;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(270deg,
      rgb(255, 230, 230) 0%,
      rgb(242, 209, 209) 100%);
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.html span {
  width: 95%;
}

.bar .progress-line.css span {
  width: 90%;
}

.bar .progress-line.js span {
  width: 60%;
}

.bar .progress-line.php span {
  width: 65%;
}

.bar .progress-line.mysql span {
  width: 80%;
}

.bar .progress-line.cplusplus span {
  width: 70%;
}

.bar .progress-line.Photoshop span {
  width: 100%;
}

.bar .progress-line.illustrator span {
  width: 100%;
}

.bar .progress-line.Figma span {
  width: 98%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 12px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 6px;
  border-top-color: #f0f0f0;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -40px;
  right: 0;
  font-weight: 400;
  background: #f0f0f0;
  color: var(--light);
  padding: 5px 8px;
  font-size: 24px;
  border-radius: 2px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: "95%";
}

.progress-line.css span::after {
  content: "90%";
}

.progress-line.js span::after {
  content: "60%";
}

.progress-line.php span::after {
  content: "65%";
}

.progress-line.mysql span::after {
  content: "80%";
}

.progress-line.cplusplus span::after {
  content: "70%";
}

.progress-line.Photoshop span::after {
  content: "100%";
}

.progress-line.illustrator span::after {
  content: "100%";
}


.progress-line.Figma span::after {
  content: "98%";
}

/* project */
.name-project{
  color: #e1c6c6;
}

.warpper-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 125px;
  margin-top: 20px;
  margin-bottom: 301px;

}

.warpper-all-project {
  max-width: 100vw;
  ;
}

._Projects {
  margin-top: 110px;
  margin-left: 50px;
  color: #999;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.porject1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-porject1 {
  background-image: url("../images/1.png");
  background-repeat: no-repeat;
  display: block;
  height: 200px;
  width: 220px;
}

.datasql {
  max-width: 80vw;
  padding: 4px;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.386px;
  text-align: center;
}

.porject1 a {
  text-decoration: none;
  color: #6793BC;
}

.porject2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-porject2 {
  background-image: url("../images/2.png");
  background-repeat: no-repeat;
  display: block;
  height: 200px;
  width: 220px;
  margin-top: 50px;
}

.porject2 a {
  text-decoration: none;
  color: #6793BC;
}

.porject3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-porject3 {
  background-image: url("../images/3.png");
  background-repeat: no-repeat;
  display: block;
  height: 200px;
  width: 220px;
  margin-top: 50px;
}

.porject3 a {
  text-decoration: none;
  color: #6793BC;
}

.porject4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-porject4 {
  background-image: url("../images/4.png");
  background-repeat: no-repeat;
  display: block;
  height: 200px;
  width: 220px;
  margin-top: 50px;
}

.porject4 a {
  text-decoration: none;
  color: #6793BC;
}

.porject5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-porject5 {
  background-image: url("../images/5.png");
  background-repeat: no-repeat;
  display: block;
  height: 200px;
  width: 220px;
  margin-top: 50px;
}

.porject5 a {
  text-decoration: none;
  color: #6793BC;
}

.warpper-index-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.warpper-index-project>div {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.project-image {
  max-width: 50vw;
  height: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* footer */

footer {
  background-color: #D8D8D8;
}

.title-contact {
  text-align: center;
  color: #383737;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-weight: lighter;
  letter-spacing: 6.331px;
}

.mycontact {
  display: flex;
  width: inherit;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.text-end {
  display: flex;
  flex-direction: column;
  color: #383737;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.386px;
}

.text-end a {
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

.myname-responsive {
  display: none;
}

@media only screen and (max-width: 768px) {
  footer {
    height: 25vh;
    right: 0px;
    display: flex;
    flex-flow: column;
    background-color: #D8D8D8;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;

  }

  .title-contact {
    text-align: center;
    color: #383737;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: lighter;
    letter-spacing: 6.331px;
    padding: 10px;
  }

  .contact-details {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .text-end {
    flex-wrap: wrap;
    flex-direction: column;
    color: #383737;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;

  }



  .mycontact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

  }

  .mycontact li {
    color: #000;
    text-align: right;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 6.331px;
    font-family: 'Poppins', sans-serif;
  }

  /* header */

  header {
    width: 100%;
    height: fit-content;
  }

  #line-gray {
    display: none;
  }

  .img1 {
    margin-left: inherit;
  }

  .myname {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
  }   
 
.menu-il{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
  align-items: center;
}
  
  .myname-responsive {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #999;
    text-align: center;
    font-family: 'Poppins', 'sans-seri';
    font-weight: bold;
    font-size: 2em;
    font-style: normal;
    line-height: normal;
    max-width: 50vw;
  }

  .class-pink #box-pinkish {
    display: none;

  }

  .box-align {
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .p-first {
    height: inherit;
    color: #6D6D6D;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    text-align: center;
    width: inherit;
    max-width: 80vw;
    line-height: 36px;
    letter-spacing: 0.386px;

  }

  .warpper-index-project>div {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 329px;
  }
}